{% set active=4 %}
{% extends 'layout.html.twig' %}

{% block meta %}
    <meta name="description" content="跟我一起学Hack语言代码列表，共{{files|length}}个例程。">
{% endblock %}
{% block title %}
    {{files|length}}个代码 | 跟我一起学Hack
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover table-striped">
                {% for file in files %}
                    <tr>
                        <td>
                            <p><a href="/demo/{{file.file|replace({'.php':''})}}">{{file.file}}</a>
                        </td>
                        <td>
                            {% for d in file.desc %}
                                {{d|raw}}
                            {% endfor %}
                        </td>
                    </tr>

                {% endfor %}
            </table>
        </div>
    {% endblock %}